body {
  background-color: rgb(199, 115, 18);
  font-size: bolder;
}
button{
  background-color: rgb(107, 182, 224);
  color: black;
  border-radius: 5px;
  padding: 7px;
  min-height: 20px;
  min-width: 80px;
  font-size: 15px;
  font-weight: bold;
}
button:active{
  color: rgb(255, 0, 0);
}

label{
  text-align:justify;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.bloque {
  display: flex;
  align-items: center;
}

input {
  margin-right: 10px;
}

#link:hover {
  background-color: black;
  color : white;
}

#link {
  font-size: 15px;
  font-weight: bold;
}

#presentacion {
  text-align: center;
  padding-top: 30px;
}
